<app-student-navbar></app-student-navbar>
<ng-container *ngFor = "let problem of problemList; let i = index">
  <mat-card class="problem-card" (click)="viewProblem(i)">
    <mat-card-title>{{problem.shapeName}}</mat-card-title>
    <mat-card-content>
      Known properties:
      <ng-container *ngFor="let p of knownProperties[i]; let j = index">
        {{p}}
        <div *ngIf="j != knownProperties[i].length - 1" style="display: inline-block">, </div>
      </ng-container>
    </mat-card-content>
      <mat-card-content>
      Unknown property: {{problem.unknownProperty}}
    </mat-card-content>
  </mat-card>
</ng-container>
